.main2 {
    display: flex;
    width: 100%;


}

.main {
    width: 640px;
    height: 120px;
    background: #FFFAF2;
    /* Button/Stroke */
    border-bottom: 1px solid #CFD7D4;
    border-radius: 8px 8px 0px 0px;
}



.optionIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid #FFFAF2;
    height: 100%;
}

.textP {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */
    color: #000000;
}


@media (max-width: 800px) {
    .main {
        width: 80%;
        height: 80vh;
        margin-left: 0;

    }

    .main2 {
        justify-content: center;

    }
}